{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {mgw_snmp, "0.1.0"},
         [mgw_snmp,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{artifacts, [
  "priv/mibs/MINI-MGW.bin",
  "priv/mibs/MINI-MGW.funcs",
  "priv/mibs/SNMP-FRAMEWORK-MIB.bin",
  "priv/mibs/SNMP-MPD-MIB.bin",
  "priv/mibs/SNMPv2-MIB.bin",
  "priv/snmp_ebin/snmp.app",
  "priv/snmp_ebin/snmp.beam",
  "priv/snmp_ebin/snmp_app.beam",
  "priv/snmp_ebin/snmp_app_sup.beam",
  "priv/snmp_ebin/snmp_community_mib.beam",
  "priv/snmp_ebin/snmp_conf.beam",
  "priv/snmp_ebin/snmp_framework_mib.beam",
  "priv/snmp_ebin/snmp_generic.beam",
  "priv/snmp_ebin/snmp_misc.beam",
  "priv/snmp_ebin/snmp_note_store.beam",
  "priv/snmp_ebin/snmp_notification_mib.beam",
  "priv/snmp_ebin/snmp_pdus.beam",
  "priv/snmp_ebin/snmp_standard_mib.beam",
  "priv/snmp_ebin/snmp_target_mib.beam",
  "priv/snmp_ebin/snmp_user_based_sm_mib.beam",
  "priv/snmp_ebin/snmp_verbosity.beam",
  "priv/snmp_ebin/snmp_view_based_acm_mib.beam",
  "priv/snmp_ebin/snmpa.beam",
  "priv/snmp_ebin/snmpa_acm.beam",
  "priv/snmp_ebin/snmpa_agent.beam",
  "priv/snmp_ebin/snmpa_agent_sup.beam",
  "priv/snmp_ebin/snmpa_local_db.beam",
  "priv/snmp_ebin/snmpa_mib.beam",
  "priv/snmp_ebin/snmpa_mib_data_tttn.beam",
  "priv/snmp_ebin/snmpa_misc_sup.beam",
  "priv/snmp_ebin/snmpa_mpd.beam",
  "priv/snmp_ebin/snmpa_net_if.beam",
  "priv/snmp_ebin/snmpa_net_if_filter.beam",
  "priv/snmp_ebin/snmpa_set.beam",
  "priv/snmp_ebin/snmpa_set_lib.beam",
  "priv/snmp_ebin/snmpa_superviser.beam",
  "priv/snmp_ebin/snmpa_svbl.beam",
  "priv/snmp_ebin/snmpa_symbolic_store.beam",
  "priv/snmp_ebin/snmpa_target_cache.beam",
  "priv/snmp_ebin/snmpa_vacm.beam"
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
