{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {mgw_snmp, "0.1.0"},
         [mgw_snmp,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{artifacts, [
  "priv/mibs/MINI-MGW.bin",
  "priv/mibs/MINI-MGW.funcs",
  "priv/mibs/SNMP-FRAMEWORK-MIB.bin",
  "priv/mibs/SNMP-MPD-MIB.bin",
  "priv/mibs/SNMPv2-MIB.bin"
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
